<div class="flex">
    <nav>
        <ul>
            <li class="animated fadeInDown" *ngIf="li1"><a routerLink="/students">תלמידות</a></li>
            <li class="animated fadeInDown" *ngIf="li2"><a routerLink="/products-categories">חנות מוצרי תפירה</a></li>
            <!-- <li class="animated fadeInDown" *ngIf="li3"><a href="sawing_machins.html">מכונות תפירה</a></li> -->
            <li class="animated fadeInDown" *ngIf="li4"><a routerLink="/models">דגמים שנתפרו בקורס</a></li>
            <!-- <li class="animated fadeInDown" *ngIf="li5"><a href="sawing_instructions.html">הוראות תפירה</a></li> -->
            <li class="animated fadeInDown" *ngIf="li6"><a href="financial.html">ניהול כספי</a></li>
        </ul>
    </nav>
</div>