nav{
    text-align: center;
    font-size: 30px;
    background-color: rgba(0,0,0,0.5);
    margin: auto;
    border: 5px #88ad72 solid;
    border-radius: 15px;
    height:520px;
    width:300px;
}

nav li{
    list-style: none;
    padding: 16px 30px;
}

nav ul{
    padding-right: 0px;
    padding-top: 50px;
}

nav a{
    color: #a9c4e1;
}