#cartProducts{
    min-height: 560px;;
    width: 500px;
    position: fixed;
    background-color: #ffffff;
    border: 1px black solid;
    left: 80px;
    top: 20px;
    z-index: 3;
    text-align: center;

}
h3{
    margin-top: 10px;
    color: #0062cc;
}

.cartProduct input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.cartProduct input{
    width: 30px;
    text-align: center;
    border: 1px #dad4d4 solid;
}
.cartProduct button{
    width: 30px;
    background-color: #f1eded;
    border: 1px #dad4d4 solid;
}
.cartProduct img{
    height: 70px;
    width: 70px;
    /* display: inline-block; */
    margin: 5px 10px;
}
.amount{
    position: absolute;
    bottom: 20px;
    right: 90px;
}
.cartProduct{
    margin: 0 10px;
    position: relative;
    border-bottom: 1px #dad4d4 solid;
    text-align: right;
}
.cartProduct:hover{
    background-color: #f1eded;
}
.price{
    position: absolute;
    color: #88ad72;
    bottom: 15px;
    left: 20px;
}

.name{
    position: absolute;
}
.colorArea{
    position: absolute;
    bottom: 15px;
    right: 190px;
    
}
.color{
    display: inline-block;
    height: 12px;
    width: 16px;
    border: 1px black solid;
    margin: 0 5px;
}
#subTotal{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.subTotalLbl{
    font-size: larger;
    font-weight: 700;
}

.subTotalPrm{
    margin: 10px;
    color: #0062cc;
    font-weight: 700;
    font-size: larger;
}
#buttons{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.cartXButton{
    position: absolute;
    top: 0px;
    left: 10px;
    cursor: context-menu;
}