<div id="cartProducts">
    <h3 *ngIf="products.length==0">אין מוצרים בעגלה</h3>
    <div *ngFor="let prod of products" class="cartProduct">
        <img [src]="'http://localhost:3000/' + prod.picture"/>
        <span class="name">{{prod.name}}</span>
        <div class="amount">
            <button (click)="decreaseAmount(prod)">-</button>
            <input type="number" min="1" [value]="prod.amount"/>
            <button (click)="increaseAmount(prod)">+</button>
        </div>
        <div class="colorArea" *ngIf="prod.color" >
            <span>צבע: </span>
            <div class="color" [ngStyle]="{backgroundColor: prod.color.colorHex}"></div>
            <span>{{prod.color.colorName}}</span>
        </div>
        <span class="price">{{prodPrice(prod)}} &#8362;</span>
        <span class="cartXButton" (click)="removeProduct(prod)"><fa name="window-close"></fa></span>
    </div>
    
    <app-deal-form (dealClosed)="updateDeal($event)" *ngIf="dealPopup" [subTotal]="subTotal"></app-deal-form>
</div>
<div id="cartFooter">
    <div *ngIf="products.length>0" id="subTotal">
        <span class="subTotalLbl">סה"כ:</span>
        <span class="subTotalPrm">{{subTotal}} &#8362;</span>
    </div>
    <div id="buttons">
        <button [disabled]="products.length==0" type="button" class="btn btn-secondary btn-sm" (click)="dealPopup=true">בצע עסקה</button>
    </div>
</div>
