.my-custom-scrollbar {
    position: relative;
    height: 460px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}
.table-dark{
    opacity: 0.7;   
}
#showProducts{
    cursor: pointer;
    text-decoration: underline;
}
.tableHeader{
    color: #0062cc;
}

@media(max-width:480px){
    .table{
        font-size: 12px;
    }
    .table td{
        padding: 0px;
    }
}