<!-- <i class="fab fa-500px"></i> -->

<div id="student">
    <span id="xButton" (click)="studentClosed.emit()"><fa name="window-close"></fa></span>
    <form #f="ngForm" (ngSubmit)="submitForm(f.valid)">
        <div id="fullName">
            <!-- <h2 *ngIf="chosenStudent.id!=0">{{chosenStudent.fullName}}</h2> -->
            <input required id="name" #fName="ngModel" [(ngModel)]="newStudent.fullName" name="fName" type="text"/>
            <span class="error" *ngIf="!fName.valid && fName.errors.required && fName.dirty">חובה להזין שם</span>
        </div>
        <div class="details">
            <div id="phones">
                <label>טלפון בבית:
                    <input required #phone="ngModel" [(ngModel)]="newStudent.phone" name="phone" type="text"/>
                </label>
                <span class="error" *ngIf="!phone.valid && phone.errors.required && phone.dirty">חובה להזין טלפון בבית</span>
                <label>סלולרי:
                    <input [(ngModel)]="newStudent.mobile" name="mobile" type="text"/>
                </label>
            </div>
            <div id="moreDetails">
                <label>בי"ס: 
                    <input [(ngModel)]="newStudent.school" name="school" type="text" id="school"/>
                </label>
                <label>כיתה: 
                    <input [(ngModel)]="newStudent.class" name="class" type="text" id="cl"/>
                </label>
                <label>קבוצה: 
                    <select [(ngModel)]="newStudent.group" name="group"> 
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </label>
                <!-- <p *ngIf="chosenStudent.id!=0">תאריך תחילת לימודים: {{chosenStudent.startDate}}</p> -->
                <label>תאריך תחילת לימודים:
                    <input required #startDate="ngModel" [(ngModel)]="newStudent.startingDate" name="startingDate" type="text" id="startingDate"/>
                </label>
                <span class="error" *ngIf="!startDate.valid && startDate.errors.required && startDate.dirty">חובה להזין תאריך תחילת לימודים</span>
            </div>
            <div id="tblArea">
                <p>תשלומים:</p>
                <table>
                    <tr>
                        <th>תאריך</th>
                        <th>סכום</th>
                        <th>אמצעי תשלום</th>
                    </tr>
                    <tr *ngFor="let pay of newStudent.payments">
                        <td>{{pay.date}}</td>
                        <td>{{pay.amount}}</td>
                        <td>{{pay.way}}</td>
                    </tr>
                </table>
                
                <button type="button" class="btn btn-secondary btn-sm btn-pay" (click)="paymentWin=true">הוסף תשלום</button>
                <app-add-pay (newPay)="addToTable($event)" *ngIf="paymentWin"></app-add-pay>
            </div>
        </div>
        <div id="buttons">
            <button [disabled]="!f.valid" type="submit" class="btn btn-primary btn-sm">שמור שינויים</button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="studentClosed.emit(null)">סגור</button>
        </div>
    </form>
</div>
