<div id="dealForm">
    <div id="formHeader">
        <span class="xButton" (click)="dealClosed.emit(null)"><fa name="window-close"></fa></span>
        <h1>פרטי רוכש</h1>
    </div>
    <form #f="ngForm" (ngSubmit)="submitForm(f.valid)">
        <input #fName="ngModel" [(ngModel)]="order.customer_name" name="fName" class="customerDetails" type="text" placeholder="* שם מלא" required>
        <span class="error" *ngIf="!fName.valid && fName.errors.required && fName.dirty">חובה להזין שם</span>
        <input #phone="ngModel" [(ngModel)]="order.customer_phone" name="phone" class="customerDetails" type="text" placeholder="* טלפון" required>
        <span class="error" *ngIf="!phone.valid && phone.errors.required && phone.dirty">חובה להזין טלפון</span>
        <input #date="ngModel" [(ngModel)]="order.date" name="date" class="customerDetails" type="text" placeholder="* תאריך" required>
        <span class="error" *ngIf="!date.valid && date.errors.required && date.dirty">חובה להזין תאריך</span>
        <label>אמצעי תשלום: 
            <select [(ngModel)]="order.paymentMethod" name="paymentMethod"> 
                <option>מזומן</option>
                <option>צ'ק</option>
                <option>כרטיס אשראי</option>
            </select>
        </label>
        <span id="subTotal">סה"כ לתשלום: <span id="subNum">{{subTotal}} &#8362;</span></span>
        <div id="buttons">
            <button [disabled]="!f.valid" type="submit" class="btn btn-secondary btn-sm">שלם</button>
        </div>
    </form>
</div>