#dealForm{
    height: 350px;
    width: 300px;
    position: fixed;
    background-color: #ffffff;
    border: 1px black solid;
    left: 219px;
    bottom: 150px;
    z-index: 7;
    text-align: right;
}
#formHeader{
    background-color: grey;
    color: white;
    text-align: center;
}
.customerDetails{
    margin: 5px 10px;
    width: 275px;
    height: 40px;
}
select{
    height: 40px;
}
label{
    margin: 5px 10px;
}
#subTotal{
    position: absolute;
    bottom: 20px;
    right: 20px;
    border: 2px  #0062cc solid;
    padding: 10px;
}
#subNum{
    background-color: #c7d7e6;
    padding: 5px;
}
#buttons{
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.error{
    font-size: 12px;
    color: red;
    padding: 10px;
    display: block;
}